= simple_form_for(@track) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :tag_id
    = f.input :author
    = f.input :order
    = f.input :album_id

  .form-actions
    = f.button :submit
